/*  ===== HEADER PART ====  */

.site-header{
    padding: 20px 0;
position: relative;
}

.site-header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__menu-btn{
background-image: url("../../images/menu-btn.svg");
background-repeat: no-repeat;
background-size:32px 32px ;
width: 32px;
height: 32px;
}

.site-header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitenav__list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item{
    
    &:not(:last-child){
        margin-right: 26px;
    }
    
    &:last-child{
        margin-right: 33px;
    }
}

.sitenav__link{
    display: inline-block;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837D88;
    text-decoration: none;
    transition: all 0.4s ease;
    
    &:hover{
        color: #2C2830;
    }
}

.site-header__btn{
    padding: 13px 28px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2C2830;
    background-color: #FFFFFF;
    border: 1.5px solid #2C2830;
    transition: all 0.4s ease;
    &:hover{
        color: #fff;
        background-color: #2C2830;
    }
    
}


.site-header__menu-btn{
    display: none;
}




.sitenav-on .sitenav {
    position: absolute;
    padding: 35px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    z-index: 12;
background-image: url("../../images/menu-bg.svg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.sitenav-on .sitenav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.sitenav-on .sitenav__item {
    margin-right: 0;
    margin-bottom: 24px;
    z-index: 1;
}

.sitenav-on .site-header__menu-btn {
    background-image: url("../../images/x-icon.svg");
    background-repeat: no-repeat;
}


.sitenav-on .sitenav__link {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.36364px;
    color: #FFFFFF;
}








@media only screen and (max-width:1000px) {
    .site-header__btn{
        margin-left: 25px;
    }
}

@media only screen and (max-width:700px) {
    
    .site-header__menu-btn{
        display: block;
        border: none;
        background-color: transparent;
    }
    
    .sitenav{
        display: none;
    }
    
    .site-header__btn{
        margin-left: 0;
    }
}
